html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
  color: #000;
}

h1 {
  border-bottom: 1px solid black;
}

section {
  background-color: #fff;
  padding-top: 1.4rem;
}

fieldset {
  margin-bottom: 0;
}

@media only screen and (min-width: 60em) {

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}
